<div class="flex flex-wrap justify-center">
  <div
    class="m-4 inline-block cursor-pointer w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4"
    *ngFor="let publication of publications"
  >
    <div
      class="rounded overflow-hidden shadow-md transition-transform transform hover:scale-105" (click)="OpenPublicationsComments(publication)"
    >
      <div class="w-full h-40">
        <img
          class="w-full h-full object-cover"
          [src]="publication.product?.image"
          alt="{{ publication.product?.name }}"
        />
      </div>
      <div class="p-4">
        <h3 class="text-lg font-semibold">{{ publication.title }}</h3>
        <p class="text-gray-600">{{ publication.product?.material }}</p>
        <p class="font-bold text-green-600">
          {{ publication.product?.price | currency : "USD" : true }}
        </p>
      </div>
    </div>
  </div>
</div>
