<body style="background-image: url('https://www.10wallpaper.com/wallpaper/5120x3200/2102/Jewel_Dark_2021_Jewelry_5K_HD_Photo_5120x3200.jpg'); background-size: cover; background-repeat: no-repeat;">
    <mat-card class = "custom-card">
      <h2>WELCOME TO NISSOUJOYAS</h2>
  </mat-card>
  <mat-card>
      <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="email">
        </mat-form-field>
      
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
  
        <button mat-raised-button color="primary" (click)="login()">Iniciar Sesión</button>
  
  </mat-card>
</body>
