mat-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-card.custom-card {
  margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2.5rem;  
    margin: auto;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 5px;
  }
  
  mat-label {
    color: #000000;
  }
  
  button[mat-icon-button] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }


  

  