  <mat-toolbar class="toolbar">
  <span class="text">NISSOUJOYAS</span>
  <button (click)="redirectToAccountEdit()">
  <span class="userName" *ngIf="isLoggedIn()">
    <mat-icon>account_circle</mat-icon>
    <span class="text">{{ getUserName() }}</span>
  </span>
</button>
  <span class="example-spacer"></span>
  <button *ngIf="hideHomeButton" (click)="redirectToHome()" mat-fab extended color="dark">
      <mat-icon >home</mat-icon>
      <span class="text">Home</span>
  </button>
  <button *ngIf="hideProductButton" (click)="redirectToProducts()" mat-fab extended color="dark">
      <mat-icon>assignment_turned_in</mat-icon>
      <span class="text">Products</span>
  </button>
  <button *ngIf="hideRegisterButton" (click)="redirectToRegister()" mat-fab extended color="dark">
    <mat-icon>account_circle</mat-icon>
    <span class="text">Register</span>
</button>
<button *ngIf="hideLoginButton" (click)="redirectToLogin()" mat-fab extended color="dark">
  <mat-icon>account_circle</mat-icon>
  <span class="text">Login</span>
</button>
<button *ngIf="hideAddPublicationButton" (click)="redirectToAddPublication()" mat-fab extended color="dark">
  <mat-icon>add_to_photos</mat-icon>
  <span class="text">Add Publication</span>
</button>
<button *ngIf="hideLogoutButton" (click)="logout()" mat-fab extended color="dark">
  <mat-icon>meeting_room</mat-icon>
  <span class="text">Logout</span>
</button>
</mat-toolbar>
