<p>
  <mat-toolbar class="toolbar">
  <span class="text">NISSOUJOYAS</span>
  <span class="example-spacer"></span>
  <button (click)="redirectToHome()" mat-fab extended color="dark">
      <mat-icon >home</mat-icon>
      <span class="text">Home</span>
  </button>
  <button (click)="redirectToProducts()" mat-fab extended color="dark">
      <mat-icon>assignment_turned_in</mat-icon>
      <span class="text">Products</span>
  </button>
  <button (click)="redirectToRegister()" mat-fab extended color="dark">
    <mat-icon>account_circle</mat-icon>
    <span class="text">register</span>
</button>
<button (click)="redirectToLogin()" mat-fab extended color="dark">
  <mat-icon>account_circle</mat-icon>
  <span class="text">login</span>
</button>
</mat-toolbar>
</p>
